<!DOCTYPE html>
<html>
    <head lang="en">
        {% block head %}
            <meta charset="UTF-8">
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
            {% block title %}
                <title>Ocellus</title>
            {% endblock %}
            {% block mdl %}
                <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-blue.min.css" />
                <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
            {% endblock %}
            {% block globalcss %}
                {% if ocellus_debug %}
                    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
                {% else %}
                    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.min.css') }}">
                {% endif %}
            {% endblock %}
            {% block css %}
            {% endblock %}
            {% block js %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block nonmdl %}
        {% endblock %}
        {% block body %}
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                {% block header %}
                <header class="mdl-layout__header">
                    <div class="mdl-layout__header-row">
                        <!-- Title -->
                        <span class="mdl-layout-title">Ocellus</span>
                        <!-- Add spacer, to align navigation to the right -->
                        <div class="mdl-layout-spacer"></div>
                        <!-- Navigation. We hide it in small screens. -->
                        <nav class="mdl-navigation mdl-layout--large-screen-only">
                            <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
                            <a class="mdl-navigation__link" href="{{ url_for('games') }}">Games</a>
                            <a class="mdl-navigation__link" href="{{ url_for('streamers') }}">Streamers</a>
                            <a class="mdl-navigation__link" href="{{ url_for('about') }}">About</a>
                        </nav>
                    </div>
                </header>
                <div class="mdl-layout__drawer">
                    <span class="mdl-layout-title">Navigation Menu</span>
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
                        <a class="mdl-navigation__link" href="{{ url_for('game', game_name='elitedangerous') }}">Elite: Dangerous Data</a>
                        <a class="mdl-navigation__link" href="{{ url_for('game', game_name='planetcoaster') }}">Planet Coaster Data</a>
                        <a class="mdl-navigation__link" href="{{ url_for('streamers') }}">Stream Community Data</a>
                        <a class="mdl-navigation__link" href="{{ url_for('about') }}">About</a>
                    </nav>
                </div>
                {% endblock %}
                <main class="mdl-layout__content">
                    <div class="page-content light-row" style="min-height: 100%">
                        {% if consolidation %}
                            <div class="mdl-grid center-text">
                                <div class="mdl-cell mdl-cell--12-col center-text">
                                    <h5>Ocellus Project</h5>
                                    <h1>Data consolidation under way!</h1>
                                </div>
                            </div>
                            <div class="mdl-grid center-text">
                                <div class="mdl-cell mdl-cell--4-col"></div>
                                <div class="mdl-cell mdl-cell--4-col">
                                    <p class="justify-text para-text">
                                        The Ocellus Project databases are updated once daily at midnight in the CET/CEST timezone.
                                        This process takes less than 15 minutes to complete, however it means that the databases
                                        are unavailable for querying. If you are seeing this message, stand up, go for a short walk,
                                        go have a wee or maybe make a cup of tea. By the time you get back, the website will operational
                                        again!
                                    </p>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col"></div>
                            </div>
                        {% else %}
                            {% block content %}
                            {% endblock %}
                        {% endif %}
                    </div>
                    {% block footer %}
                        <footer class="mdl-mini-footer">
                            <div class="mdl-mini-footer__left-section">
                                <ul class="mdl-mini-footer__link-list">
                                  <li><a href="{{ url_for('index') }}">Home</a></li>
                                  <li><a href="{{ url_for('games') }}">Game Data</a></li>
                                  <li><a href="{{ url_for('streamers') }}">Streamer Data</a></li>
                                  <li><a href="{{ url_for('about') }}">About</a></li>
                                </ul>
                            </div>
                            <div class="mdl-mini-footer__right-section">
                                <ul class="mdl-mini-footer__link-list">
                                  <li><a href="https://github.com/purrcat259/twitch-statistics/tree/ocellus-project/website">Version: {{ ocellus_version }}</a></li>
                                </ul>
                            </div>
                        </footer>
                    {% endblock %}
                </main>
            </div>
        {% endblock %}
    </body>
</html>