{% extends "layout.html" %}
{% block css %}
    {% if debug_mode %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='titles.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='titles.min.css') }}">
    {% endif %}
{% endblock %}
{% block content %}
    <div id="{{ game_name.url }}-title" class="mdl-grid cover-image">
        <h1 class="game-title center-text">{{ game_name.full }}</h1>
    </div>
    <div class="mdl-grid dark-row" >
        <div  class="mdl-cell mdl-cell--12-col center-text">
            <h1>Game Data</h1>
        </div>
        <div class="mdl-grid dark-row">
            <!-- Spacer -->
            <div class="mdl-cell mdl-cell--4-col"></div>
            <!-- Content -->
            <div class="mdl-cell mdl-cell--4-col">

            </div>
            <!-- Spacer -->
            <div class="mdl-cell mdl-cell--4-col"></div>
        </div>
    </div>
{% endblock %}