{% extends "layout.html" %}
{% block content %}
<main class="mdl-layout__content">
    <div class="page-content">
        <div id="intro-header">
            <div class="mdl-grid grid-row">
                <!-- Spacer -->
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col">
                    <h1>Twitch stream statistics</h1>
                    <p>Public twitch stream data for everyone to see and use.</p>
                </div>
                <!-- Spacer -->
                <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}