{% extends "layout.html" %}
{% block css %}
    {% if ocellus_debug %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.min.css') }}">
    {% endif %}
{% endblock %}
{% block content %}
    <div class="mdl-grid dark-row">
        <div class="mdl-cell mdl-cell--12-col center-text">
            <h1>Ocellus Project News</h1>
        </div>
    </div>
    {% for article in news_articles %}
        <div class="mdl-grid dark-row">
            <div class="mdl-cell mdl-cell--3-col"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <h2 class="center-text">{{ article.title }}</h2>
            </div>
            <div class="mdl-cell mdl-cell--3-col"></div>
        </div>
        <div class="mdl-grid dark-row">
            <div class="mdl-cell mdl-cell--3-col"></div>
            <div class="mdl-cell mdl-cell--4-col">
                <p class="para-text justify-text">
                    {{ article.contents }} ({{ article.date_written }})
                </p>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width: 90%; height: 50%;">
                    Read more ({{ article.word_count }} words)
                </button>
            </div>
            <div class="mdl-cell mdl-cell--3-col"></div>
        </div>
    {% endfor %}
    <div class="mdl-grid dark-row" >
        <div class="mdl-cell mdl-cell--5-col"></div>
        <div class="mdl-cell mdl-cell--1-col">
            {% set prev_page_number = page_data.current - 1 %}
            {% set next_page_number = page_data.current + 1 %}
            {% if not prev_page_number == 0 %}
                <a href="{{ url_for('news', page_number=prev_page_number) }}">
                    <i class="material-icons mdl-list__item-icon" style="font-size: 500%">keyboard_arrow_left</i>
                </a>
            {% endif %}
        </div>
        <div class="mdl-cell mdl-cell--1-col center-text">
            {% if not next_page_number > page_data.total %}
                <a href="{{ url_for('news', page_number=next_page_number) }}">
                    <i class="material-icons mdl-list__item-icon" style="font-size: 500%">keyboard_arrow_right</i>
                </a>
            {% endif %}
        </div>
        <div class="mdl-cell mdl-cell--5-col"></div>
    </div>
{% endblock %}