{% extends "layout.html" %}
{% block css %}
    {% if ocellus_debug %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.min.css') }}">
    {% endif %}
{% endblock %}
{% block content %}
    <div class="mdl-grid dark-row">
        <div class="mdl-cell mdl-cell--12-col center-text">
            <h1>News</h1>
        </div>
    </div>
    {% for article in news_articles %}
        <div class="mdl-grid dark-row">
            <div class="mdl-cell mdl-cell--3-col"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <h2 class="center-text">{{ article.title }}</h2>
            </div>
            <div class="mdl-cell mdl-cell--3-col"></div>
        </div>
        <div class="mdl-grid dark-row">
            <div class="mdl-cell mdl-cell--3-col"></div>
            <div class="mdl-cell mdl-cell--4-col">
                <p class="para-text justify-text">
                    <!-- {{ article.contents }} -->
                    This is a sample description. This is a sample description. This is a sample description.
                    This is a sample description. This is a sample description. This is a sample description.
                </p>

            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width: 100%; height: 100%;">
                    Read more ({{ article.word_count }} words)
                </button>
            </div>
            <div class="mdl-cell mdl-cell--3-col"></div>
        </div>
    {% endfor %}
{% endblock %}