{% extends "layout.html" %}
{% block css %}
    {% if app_info.debug %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='titles.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='titles.min.css') }}">
    {% endif %}
{% endblock %}
{% block content %}
    <!-- TODO: Change this title CSS to something different, left as a placeholder for now -->
    <div id="elitedangerous-title" class="mdl-grid cover-image">
        <h1 class="game-title center-text">{{ streamer.name }}</h1>
    </div>
    <div class="mdl-grid dark-row">
        <!-- Content -->
        <div class="mdl-cell mdl-cell--12-col center-text">
            <h1>Something</h1>
        </div>
    </div>
{% endblock %}