{% extends "layout.html" %}
{% block css %}
    {% if app_info.debug %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.min.css') }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/tables-min.css">
{% endblock %}
{% block content %}
    <div class="mdl-grid dark-row">
        <div class="mdl-cell mdl-cell--12-col center-text">
            <h1>{{ streamer_name }}'s {{ game_name.full }} Streams</h1>
        </div>
    </div>
    <div class="mdl-grid dark-row">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <!-- Content -->
        <div class="mdl-cell mdl-cell--8-col">
            <!-- TODO: Move inline styles to a css sheet -->
            <h1 style="font-size: 200%;">Page {{ page_data.current }} out of {{ page_data.total }}</h1>
            <table class="pure-table pure-table-bordered dark-row" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Start Time</th>
                        <th>Duration (Hours)</th>
                        <th>Average Viewers</th>
                        <th>Peak Viewers</th>
                        <th>Follower Delta</th>
                        <th>Data</th>
                    </tr>
                </thead>
                {% for index, data in streams_overviews %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.start_time }}</td>
                        <td>{{ data.duration }}</td>
                        <td>{{ data.viewers_average }}</td>
                        <td>{{ data.viewers_peak }}</td>
                        <td>{{ data.follower_delta }}</td>
                        <td>
                            <a href="{{ url_for('streamer', streamer_name=data.name) }}">
                                <i class="material-icons mdl-list__item-icon">info</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
    </div>
    <div class="mdl-grid dark-row" >
        <div class="mdl-cell mdl-cell--5-col"></div>
        <div class="mdl-cell mdl-cell--1-col">
            {% set prev_page_number = page_data.current - 1 %}
            {% set next_page_number = page_data.current + 1 %}
            {% if not prev_page_number == 0 %}
                <a href="{{ url_for('streams', streamer_name=streamer_name, game_url_name=game_name.url, page_number=prev_page_number) }}">
                    <i class="material-icons mdl-list__item-icon" style="font-size: 500%">keyboard_arrow_left</i>
                </a>
            {% endif %}
        </div>
        <div class="mdl-cell mdl-cell--1-col center-text">
            {% if not next_page_number > page_data.total %}
                <a href="{{ url_for('streams', streamer_name=streamer_name, game_url_name=game_name.url, page_number=next_page_number) }}">
                    <i class="material-icons mdl-list__item-icon" style="font-size: 500%">keyboard_arrow_right</i>
                </a>
            {% endif %}
        </div>
        <div class="mdl-cell mdl-cell--5-col"></div>
    </div>
{% endblock %}