{% extends "layout.html" %}
{% block css %}
    {% if app_info.debug %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.min.css') }}">
    {% endif %}
{% endblock %}
{% block content %}
    <div class="mdl-grid dark-row">
        <div class="mdl-cell mdl-cell--12-col center-text">
            <h1>Streamers</h1>
        </div>
    </div>
    <div class="mdl-grid dark-row" id="explanation-row">
        <!-- Spacer -->
        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--6-col">
            <p class="justify-text para-text">
                Streamer data is split up according to the game that they were streaming. The Ocellus project will only
                list Elite: Dangerous and Planet Coaster streams of any given streamer. This means that the data shown
                is not indicative of a streamer's full streaming portfolio.
            </p>
            <p class="justify-text para-text">
                Click on the buttons on any of the following cards to access the streamer list for that particular game.
            </p>
        </div>
        <!-- Spacer -->
        <div class="mdl-cell mdl-cell--3-col"></div>
    </div>
    {% for game in games %}
        <div class="mdl-grid dark-row">
            <!-- Spacer -->
            <div class="mdl-cell mdl-cell--4-col"></div>
            <div class="mdl-cell mdl-cell--4-col">
                <div class="game-card mdl-card mdl-shadow--2dp" id="{{ game.url }}-card">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                        <a href="{{ url_for('streamers_list', game_url_name=game.url, page_number=1) }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect blue-button">
                            <i class="material-icons mdl-list__item-icon">face</i>
                            <span class="game-card-image__filename">
                                {{ game.full }} Streamer Data
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Spacer -->
            <div class="mdl-cell mdl-cell--4-col"></div>
        </div>
    {% endfor %}
{% endblock %}