{% extends "layout.html" %}
{% block css %}
    {% if debug_mode %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='titles.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='titles.min.css') }}">
    {% endif %}
{% endblock %}
{% block content %}
    <div class="mdl-grid dark-row" >
        <div  class="mdl-cell mdl-cell--12-col center-text">
            <h1>{{ game_name }} Streamers</h1>
        </div>
    </div>
    <div class="mdl-grid dark-row" >
        <div  class="mdl-cell mdl-cell--12-col center-text">
            <h1>Tiers</h1>
        </div>
    </div>
    <div class="mdl-grid light-row" >
        <div  class="mdl-cell mdl-cell--12-col center-text">
            <h1>Streamers</h1>
        </div>
    </div>
    <div class="mdl-grid light-row">
        <!-- Content -->
        <div class="mdl-cell mdl-cell--12-col">
            <!-- TODO: Move these styles to a css sheet -->
            <table class="mdl-data-table mdl-js-data-table" style="color: black; width: 100%;">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th>Name</th>
                        <th>Last Updated</th>
                        <th>Average Viewers</th>
                        <th>Peak Viewers</th>
                        <th>Followers</th>
                        <th>Average Duration</th>
                        <th>Total Duration</th>
                        <th>Partnered</th>
                    </tr>
                </thead>
                {% for data in streamer_data %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ loop.index }}</td>
                        <td>{{ data[8] }}</td>
                        <td>{{ data[1] }}</td>
                        <td>{{ data[2] }}</td>
                        <td>{{ data[3] }}</td>
                        <td>{{ data[4] }}</td>
                        <td>{{ data[5] }}</td>
                        <td>{{ data[6] }}</td>
                        <td>
                            {% if data[7] == 1 %}
                                <!-- Is partnered -->
                                <i class="material-icons mdl-list__item-icon">done</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}