{% extends "layout.html" %}
{% block css %}
    {% if app_info.debug %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vis.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vis.min.css') }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/tables-min.css">
{% endblock %}
{% block js %}
    {% if app_info.debug %}
        <script src="{{ url_for('static', filename='vis.js') }}"></script>
        <script   src="https://code.jquery.com/jquery-3.0.0.js"   integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="   crossorigin="anonymous"></script>
    {% else %}
        <script src="{{ url_for('static', filename='vis.min.js') }}"></script>
        <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="mdl-grid dark-row">
        <div class="mdl-cell mdl-cell--12-col center-text">
            <h1>{{ streamer_name }}'s {{ game_name.full }} stream ID #{{ stream_data.id }}</h1>
        </div>
    </div>
    <div class="mdl-grid light-row">
        <div class="mdl-cell mdl-cell--3-col center-text"></div>
        <div class="mdl-cell mdl-cell--4-col data-text">
            <h2>Time start: {{ stream_data.time_start }}</h2>
            <h2>Duration: {{ stream_data.duration }} hours</h2>
            <h2>Average Viewers: {{ stream_data.viewers_average }}</h2>
            <h2>Peak Viewers: {{ stream_data.viewers_peak }}</h2>
            <h2>Follower delta: {{ stream_data.follower_delta }}</h2>
        </div>
        <div class="mdl-cell mdl-cell--5-col center-text"></div>
    </div>
    <div class="mdl-grid light-row">
        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--6-col visualisation" id="visualisation-viewers"></div>
        <div class="mdl-cell mdl-cell--3-col"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='visualise_viewers.js') }}"></script>
    <script type="text/javascript">
        OCELLUS_VISUALISE.init(["{{ streamer_name }}", "{{ game_name.short }}", "{{ stream_data.id }}"]);
        OCELLUS_VISUALISE.visualiseViewers();
    </script>
{% endblock %}