html, body {
    margin: 0 auto;
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

/* Change Icon colours to white */
.mdl-list__item-icon.material-icons {
	color: white;
}

/* Generic text classes */
.center-text {
	text-align: center;
}

.justify-text {
	text-align: justify;
}

/* Background colours for rows */
.light-row {
	background-color: #5C6BC0;
}

.dark-row {
	background-color: #7986CB;
}

/* Specific size fixes */
#intro-header-row h1, h5 {
	font-size: 400%;
}

#intro-header-row h2 {
	font-size: 150%;
}

#explanation-row p {
	font-size: 150%;
}

.mdl-list span {
	color: white;
}

