html, body {
    margin: 0 auto;
    background-color: #303F9F;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.center-text {
	text-align: center;
}

.justify-text {
	text-align: justify;
}

.light-row {
	background-color: #0D47A1;
}

.dark-row {
	background-color: #1A237E;
}

#intro-header-row h1, h2, h5 {
	font-size: 800%;
	text-align: center;
}

#explanation-row p {
	font-size: 150%;
}

.if-you-are-row span {
	color: white;
}

.if-you-are-row h3 {
	text-align: center;
}
