.game-title {
	position: relative;
	top: 5%;
	width: 100%;
	font-size: 1000%;

}

.cover-image {
	position: relative;
  background-size: cover;
  height: 1024px;
}

#elitedangerous-title {
  background: url('../static/images/elitedangerous-cover.jpg') center top no-repeat;
}

#planetcoaster-title {
	background: url('../static/images/planetcoaster-cover.jpg') center top no-repeat;
}

.tier-text {
	font-size: 200%;
}
